div#editor {
    font-size: 16px;
    font-family: inherit;
    // border-color: $primary;
    // border: 1px solid #ebebeb;
    border: 1px solid #ced4da;
    // min-height: 250px;
}

.ql-toolbar.ql-snow {
    border-radius: 8px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.06);
    background: #fff;
    border: 0 !important;
}
