.top-color-bar {
    height: 10px;
    display: block;
    position: relative;
    z-index: 10;
    background-image: linear-gradient(90deg,#4d16dd,#4d16dd 25%,#ff47f9 50%,#ffaff9 75%,#ffaff9);
}

.body-teal .top-color-bar {
    background-color: var(--color-one);
    background-image: none;
}
