/*------- all groups ----------*/
.table--all-groups {
    background-color: #fff;
}
.cta-group-item {
    .btn {
        //opacity: .3;
        padding: 10px;
        margin: 0 10px 0 0;
        border-color: rgba($primary, .1);

        &:hover {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);

            svg path {
                fill: #fff;
            }
        }
    }
    #btn-delete-group {
        &:hover { background-color: var(--red) }
    }

    svg {
        width: 20px;
        height: auto;

        path {
            fill: rgba($primary, .3);
            transition: all .2s ease-in-out;
        }
    }
}
/*------- END all groups ----------*/

/*------- CREATE group ----------*/
.group-create-wrap {
    .show-group-color {
        background-color: var(--color-one) !important;
        height: 20px;
        width: 20px;
        display: inline-block;
        margin-top: 2px;
        margin-left: 2px;
    }

    .custom-control-label {
        font-weight: 400;
    }
}
/*------- END CREATE group ----------*/

/*------- START view group ----------*/
#invite-users {
    margin-bottom: 200px;
    .left-col {
        padding: 200px 0 ;
    }
}
/*------- END view group ----------*/
