#app {
    width: calc(100% - 300px);
    margin-left: 300px;
}

.admin-wrapper th .custom-checkbox {
    cursor: pointer;
    width: 10px;
}

.one_stop .card-body{
    height: 370px;
    padding: 0px 15px;
    overflow: hidden;
    overflow-y: auto;
}
