#app {
    width: calc(100% - 300px);
    margin-left: 300px;
}
<<<<<<< HEAD
=======

.admin-wrapper th .custom-checkbox {
    cursor: pointer;
    width: 10px;
}
>>>>>>> 58c6d1bad231fc3d7814349d369bd9102e416d7a
