.navbar {
    height: 65px;
}
.navbar-brand {
    line-height: 1;

    label {
        font-size: 14px;
        margin: 0;
    }
}
<<<<<<< HEAD
=======
.user-dashboard .navbar {
    margin-top: 0;
} 
>>>>>>> 58c6d1bad231fc3d7814349d369bd9102e416d7a
